body {
    background-image: url("login_imgs/login_img2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(60, 161, 239);
}

.logo {
    text-align: center;
    margin-top: 50px;
}

form {
    border-radius: 5px 5px 5px 5px;
    width: 380px;
    padding-bottom: 100px;
    background-image: url("login_imgs/login_form_bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 30px auto 0 auto;
    box-shadow: 0 0 3px #333;
}

form .header {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #51b7f9;
    box-shadow: none;
    padding: 30px 10px 15px;
}

form .body {
    padding-top: 15px;
    text-align: center;
}

form .body .form-group {
    padding-bottom: 10px;
}

form .body .form-group input {
    width: 330px;
    height: 30px;
    padding-left: 10px;
    letter-spacing: 3px;
}

form .body .form-radio {
    margin-bottom: 20px;
    text-align: left;
}

form .body .form-radio input {
    margin-right: 3px;
}

form .body .form-radio .first-radio {
    margin-left: 30px;
}

form .body .form-radio .second-radio {
    margin-left: 20px;
}

form .bg {
    background-color: #0073b7;
    font-weight: 500;
    color: #f9f9f9 !important;
    border-radius: 3px;
    padding: 6px 12px;
    width: 150px;
    cursor: pointer;
    margin-left: 25px;
    display: inline;
}

form .sign {
    background-color: #e6e6e6;
    font-weight: 500;
    color: #0073b7 !important;
    border-radius: 3px;
    padding: 6px 12px;
    width: 150px;
    cursor: pointer;
    margin-left: 25px;
    display: inline;
}

form .form-button {
    margin-bottom: 25px;
}

.footer {
    text-align: center;
    color: #eee;
    margin-top: 30px;
    text-shadow: 0 0 3px #333;
}