#title, #operate, #seen {
    display: none;
}

.myCourse {
    margin-left: 10px;
    margin-bottom: 15px;
}

.knowledge {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.question {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.course {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.course_img {
    width: 117px;
    height: 150px;
    overflow: hidden;
    display: block;
    border-radius: 6px;
    margin-bottom: 10px;
}

.course_img img {
    width: 100%;
    height: 100%;
}

.knowledge_header {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.knowledge_text textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;;
    width: 570px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    line-height: 25px;
}

.add_knowledge {
    margin-top: 10px;
}

.add_knowledge input[type="radio"] {
    margin-left: 5px;
    margin-right: 2px;
}

.add_knowledge textarea {
    width: 500px;
    height: 300px;
}